<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form  #form="ngForm" (ngSubmit)="register(form)">
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="2" size-xs="12">    
            <div padding>
              <ion-item>
                <ion-input  name="name" type="text" placeholder="Nome" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="email" type="email" placeholder="seu@email.com" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="password" type="password" placeholder="Senha" ngModel required></ion-input>
              </ion-item>
              <ion-item>
                <ion-input name="confirm" type="password" placeholder="Repita sua senha" ngModel required></ion-input>
              </ion-item>
            </div>
            <div padding id="btn-cadastrar">
              <ion-button  color="primary" size="default" type="submit" [disabled]="form.invalid">Cadastrar</ion-button>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-content>
