<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-card-header>
          <div>
            <ion-text class="ion-text-center">
              <h2>{{publication?.title}}</h2>
            </ion-text>
          </div>
        </ion-card-header>
      </ion-row>
      <ion-card-content>
        <ion-row>
          <ion-col class="img-container">
            <ion-img [src]="getBannerSrc()" alt="cosulta odontológica"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
        </ion-row>
        <ion-row>
          <ion-list class="section-list">
            <ion-item *ngFor="let section of sectionList" class="section" lines="full">
              <ion-list-header>{{section.title}}</ion-list-header>
              <ion-text>
                <p>{{section.body}}</p>
              </ion-text>
            </ion-item>
          </ion-list>
          <ion-slides [options]="sliderOptions">
            <ion-slide *ngFor="let section of sectionList">
              <div class="section">
                <ion-text class="section-title">
                  <h2>{{section.title}}</h2>
                </ion-text>
                <ion-text class="section-body">
                  <p>{{section.body}}</p>
                </ion-text>
              </div>
            </ion-slide>
          </ion-slides>
        </ion-row>
      </ion-card-content>
    </ion-grid>
  </ion-card>
</ion-content>