.title-container {
  margin: 0 auto;
  font-weight: 600px;
  text-align: center;
  color: #040404ba;
}

.content-text-container {
  margin: 30px 10px;

  p {
    font-size: 16px;
  }
}

.img-container {
    .img {
      background-size: cover;
    }
    height: 40vh;
}
