
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

#logo {
    padding-top: 20%;
}

#area-login {
   padding-top: 20%;
}

#email-senha {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
}

.box { 
  @include border-radius(40px); // apply the mixin
  background-color:whitesmoke;
  color:rgb(32, 32, 32);    
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#botoes {
    display: flex;
    justify-content: center;
    padding: 40px;

}
ion-button {
    width: 125px;
}

ion-img {
    width: 50%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
}