<ion-content padding>
  <div id="logo">
    <ion-img src="/assets/logo/Ufla_news.jpg"></ion-img>
  </div>
  <div id="area-login">
    <div id="email-senha">
      <div class="box">
        <ion-input placeholder="E-mail/Id"></ion-input>
      </div>
      <div class="box">
        <ion-input placeholder="Senha"></ion-input>
      </div>
    </div>
    <div id="botoes">
      <ion-button class="botao" shape="round">Entrar</ion-button>
      <ion-button class="botao" shape="round">Cadastrar</ion-button>
    </div>
  </div>
</ion-content>