<ion-content  padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row  justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center class="logo-container">
            <img src="/assets/logo.png" alt="">
          </div>
          <div class="ion-padding form-container">
            <ion-item class="input-field">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-input name="email" type="email" placeholder="exemplo@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item class="input-field passwd-field">
              <ion-icon slot="start" name="key"></ion-icon>
              <ion-input name="password" type="password" placeholder="senha" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block" color="secondary">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div text-center class="new-account">
          Para criar uma conta nova, <a [routerLink]="['/home']"> clique aqui </a>
        </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>