.input-container {
    padding: 10px;

    ion-input {
     border-radius: 30px !important;
     font-size: 0.9em;
     font-weight: 500;
     padding-left: 20px !important;
     border: 2px solid var(--ion-color-primary);
     box-shadow: none !important;
    }
}

.comment-container {
    max-width:  50%;
    padding: 20px;
    background: #0571e6ab;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 40px;
    .username {
        display: block;
        font-style: italic;
        padding-bottom: 5px;
        font-weight: 700px;
        color: white
    }
}