<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar publicação" cancelButtonIcon="close"></ion-searchbar>
  <ion-item text-center lines="none">
    <ion-text color="medium"><h3 class="title-page">Boletins</h3></ion-text>
    <ion-icon name="book" size="large" color="primary" slot="start"></ion-icon>
  </ion-item>
  <ion-card class="bulletin-card" text-center>
    <ion-grid>
      <ion-row>
        <img src="/assets/praec_predio.jpg" alt="Imagem do predio da praec localizado na UFLA">
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-thumbnail>
              <img src="/assets/praec.svg" alt="" />
            </ion-thumbnail>
            <ion-card-header>
              <ion-card-title> PRAEC </ion-card-title>
              <ion-card-subtitle> Criado há 3 dias </ion-card-subtitle>
            </ion-card-header>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <p>Now that your app has been created, you'll want to start building out features and components. Check
                  out
                  some
                  of the resources below for next steps.</p>
              </ion-row>
              <ion-row class="ion-padding-top">
                <ion-col>
                </ion-col>
                <ion-col class="social-buttons">
                  <ion-item lines="none">
                    <ion-label position="fixed">3</ion-label>
                    <ion-button fill="clear">
                      <ion-icon name="heart"></ion-icon>
                    </ion-button>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-col>

      </ion-row>

    </ion-grid>

    <!-- <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card> -->
    <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list> -->
    <!-- </ion-content> -->