<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar boletim por título" cancelButtonIcon="close" inputmode="text" animated (ionChange)="searchBoletim($event)"></ion-searchbar>
  <div class="title-page">
    <ion-icon name="ios-paper" size="large" color="primary"></ion-icon>
    <ion-text class="text">
      <h3>Boletins</h3>
    </ion-text>
  </div>
  <ion-card no-padding class="sorting-card">
    <ion-card-header>
      <ion-text color="white">
        <h4>Ordenar por </h4>
      </ion-text>
    </ion-card-header>
    <ion-card-content>
      <ion-radio-group (ionChange)="sortBoletim($event)">
        <ion-row>

          <ion-col>
            <ion-item class="option" color="secondary">
              <ion-label>Título</ion-label>
              <ion-radio mode="md" item-left value="titulo" color="primary"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item class="option" color="secondary">
              <ion-label text-wrap>Publicador </ion-label>
              <ion-radio mode="md" item-left value="publicador" color="primary"></ion-radio>
            </ion-item>
          </ion-col>

          <ion-col>
            <ion-item class="option" color="secondary">
              <ion-label>Data de publicação</ion-label>
              <ion-radio mode="md" item-left value="data" color="primary"></ion-radio>
            </ion-item>
          </ion-col>

        </ion-row>
      </ion-radio-group>
    </ion-card-content>
  </ion-card>


<div *ngFor="let boletim of searchedBoletimList">
  <ion-card class="bulletin-card" text-center >
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-thumbnail>
              <img [src]="getIconUrl(boletim)" alt="" />
            </ion-thumbnail>
            <ion-card-header>
              <ion-card-title> {{boletim.publisher.initials}} </ion-card-title>
              <ion-card-subtitle> Divulgado em {{getFormatedDateAndDiff(boletim).date}} há {{getFormatedDateAndDiff(boletim).diff}} </ion-card-subtitle>
            </ion-card-header>
          </ion-item>
        </ion-col>
      </ion-row>  
      <ion-row>
      <ion-col [ngStyle] = "{ 'background': getImageUrl(boletim)}" class="img-background"> </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-text class="title">
                  <h2> {{boletim.publisher.name}} </h2>
                  <h3> {{boletim.title}}</h3>
                </ion-text>
              </ion-row>
              <ion-row >
                <div class="more-details-container">
                  <ion-button color="secondary" expand="full" (click)="goToDetails(boletim)">
                    <ion-icon slot="start" name="add"></ion-icon>
                    Ler sobre 
                    </ion-button>
                </div>
              </ion-row>
              <ion-row padding-top class="social-buttons">
                <ion-col>
                  <div>
                    <span text-left>{{boletim.likes.quantity}}</span>
                    <ion-button class="like-button" shape="round" fill="none" no-padding (click)="registerUserLike(boletim)">
                      <ion-icon [color]="getUserLike(boletim)? 'danger' : ''" name="heart" slot="icon-only" ></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <span>{{boletim.dislikes.quantity}}</span>
                    <ion-button class="dislike-button" shape="round" fill="none" no-padding (click)="registerUserDislike(boletim)">
                      <ion-icon [color]="getUserDislike(boletim)? 'warning' : ''" name="heart-dislike" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
                <ion-col>
                  <div>
                    <span>{{boletim.comment_quantity? boletim.comment_quantity : 0}}</span>
                    <ion-button class="comment-button" shape="round" fill="none" no-padding (click)="goToComments(boletim)">
                      <ion-icon color="secondary" src="/assets/icon/comment.svg" slot="icon-only"></ion-icon>
                    </ion-button>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  </div>

  <!-- <ion-card-content>
      <p>Now that your app has been created, you'll want to start building out features and components. Check out some
        of the resources below for next steps.</p>
    </ion-card-content>
  </ion-card> -->
  <!-- <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list> -->
  <!-- </ion-content> -->