.register-btn-container {
  display: flex;
  justify-content: center;
}

.form-container {
  margin-top: 30%;
  padding-top: 20px;

  .input-field {
    margin-bottom: 10px;
    --border-color: var(--ion-color-secondary-shade);
    --border-width: 1px;
    --border-radius: 15px;
    --box-shadow: 2px gray;
    --highlight-height: 0;
  }

  .passwd-field {
    margin-top: 15%;
    margin-bottom: 4%;
  }


  .input-field.ion-invalid.item-has-focus {
    --border-color: var(--ion-color-danger-shade);
  }

  .input-field.ion-valid.item-has-focus {
    --border-color: var(--ion-color-success-shade);
  }

  .input-feedback {
    margin-bottom: 5%;
    display: block;
    font-size: 12px;
    font-style: italic;
    color: var(--ion-color-danger-tint);
  }

  .register-btn-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
  }
}
